
<div id="admin" class="page hidden">
    <div class="row-fluid">
        <div class="col-md-1"></div>
        <div class="col-md-10 page-view">
            <ul class="nav nav-tabs">
                <li id="mgmt-users-tab" class="active"><a href="#/users">Users</a></li>
                <li id="mgmt-events-tab"><a href="#/events">Logging</a></li>
                <li id="mgmt-cms-tab"><a href="#/cms">CMS</a></li>
                <li id="mgmt-actions-tab"><a href="#/actions">Administration</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane clearfix active" id="mgmt-users">
                    <h3>Users</h3>
                    <div id="mgmt-users-list"></div>
                </div>
                <div class="tab-pane clearfix" id="mgmt-events">
                    <h3>Event Logging</h3>
                    <div id="mgmt-events-list"></div>
                </div>
                <div class="tab-pane clearfix" id="mgmt-cms">
                    <h3>Content Management</h3>
                    <div class="row-fluid">
                        <div id="" class="col-md-3">
                            <h5>Content List</h5>
                            <div id="cms-menu"></div>
                        </div>
                        <div class="col-md-9">
                            <div id="cms-actions">
                                <button did="edit" class="cms-button btn btn-primary">Edit Content</button>
                                <button did="save" class="cms-editing-button btn btn-primary" style="display:none">Save Updates</button>
                                <button did="preview" class="cms-editing-button btn btn-primary" style="display:none">Preview</button>
                                <button did="cancel" class="cms-editing-button btn btn-default" style="display:none">Cancel</button>
                            </div>
                            <h5>
                                Content Editor  <span id="cms-content-title-span"></span>
                            </h5>
                            <div id="cms-content">
                                <div id="cms-editable-section" style="display:none"></div>
                                <iframe id="cms-preview"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane clearfix" id="mgmt-actions">
                    <div id="app-management-container">
                        <h3>Invite a User</h3>
                        <div class="input-append buttons-section">
                            <div class="same-line">
                                <button class="same-line-button btn btn-primary" id="send-invitation">Send Invitation</button>
                                <div class="same-line-control">
                                    <input class="form-control" id="invited-user-email" type="text" placeholder="Email Address">
                                </div>
                            </div>
                        </div>
                        <div class="loading buttons-section" style="display:none">
                            Loading.. Please Wait.. <img src="/admin/images/ajax-loader-sm.gif" />
                        </div>
                    </div>
                    <div class="admin-config-item-container">
                        <h3>Create a User</h3>
                        <div class="buttons-section">
                            <span class="alert-container"></span>
                            <div class="form-group clearfix">
                                <div class="col-sm-4">
                                    <label>Email</label>
                                    <input type="text" name="email" class="form-control" placeholder="Email" value="" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Password</label>
                                    <input type="password" name="password" class="form-control" placeholder="Password" value="" />
                                </div>
                                <div class="col-sm-4">
                                    <label>User Type</label>
                                    <select class="form-control"  name="userType">
                                        <option value="developer">developer</option>
                                        <option value="admin">admin</option>
                                    </select>
                                </div>
                            </div>
                            <div class="button-group clearfix">
                                <button id="admin-user-create-btn" class="btn btn-primary">Create User</button>
                            </div>
                        </div>
                        <div class="loading buttons-section" style="display:none">
                            Loading.. Please Wait.. <img src="/admin/images/ajax-loader-sm.gif" />
                        </div>
                    </div>
                    <h3>Configuration</h3>
                    <div class="alert alert-info" role="alert">
                        <strong>Note:</strong> Changes made to the configuration below will initiate a restart of the server.
                    </div>
                    <div id="admin-configuration-container"></div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<div id="admin-details" class="page hidden">
    <div class="row-fluid">
        <div class="col-md-1"></div>
        <div class="col-md-10 page-view"></div>
        <div class="col-md-1"></div>
    </div>
</div>

<div id="loadingBar">
    <div id="loadingContent">
        Loading resources, please wait..
        <div class="progress progress-striped active">
            <div class="bar" style="width:50%;"></div>
        </div>
    </div>
</div>
<div id="download-container" class="hidden"></div>
<!-- views start -->
<script id="AdminUserDetailsView" type="text/template">
    <h3>User: <%- model.profileName %></h3>
    <div class="buttons">
        <div class="buttons-section">
            <button did="delete-user" type="button" class="btn btn-default">Delete User</button>
            <button did="edit-user" type="button" class="btn btn-default">Edit User</button>
            <button did="deactivate-user" type="button" class="btn btn-primary <% if(model.activated !== true){ %>hidden<% } %>">Deactivate User</button>
            <button did="activate-user" type="button" class="btn btn-primary <% if(model.activated === true){ %>hidden<% } %>">Activate User</button>
            <% if(model.userType == 'guest'){ %>
            <button did="approve-user" type="button" class="btn btn-primary">Approve User</button>
            <% } %>
            <% if(model.userType == 'approved'){ %>
            <button did="resend-registration=email" type="button" class="btn btn-primary">Resend Registration Email</button>
            <% } %>
        </div>
        <div class="buttons-section-edit" style="display:none">
            <button did="edit-user-cancel" type="button" class="btn btn-default">Cancel Changes</button>
            <button did="edit-user-save" type="button" class="btn btn-primary">Save Changes</button>
        </div>
        <div class="loading buttons-section" style="display:none">
            Loading.. Please Wait.. <img src="../images/ajax-loader-sm.gif" />
        </div>
        <div class="pull-right">
            <a href="#/users" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>Back to Administration Page</a>
        </div>
    </div>
    <hr />
    <div class="row-fluid">
        <div class="col-md-12">
            <h4>User Information</h4>
            <table class="table table-striped" id="user-data-container">
                <tbody>
                <tr>
                    <td width="5px">First Name</td>
                    <td width="5px">
                        <span class="user-edit-value"><%- model.firstName %></span>
                        <span class="user-edit-input" style="display:none"><input type="text" class="form-control" name="firstName" value="<%- model.firstName %>" /></span>
                    </td>
                </tr>
                <tr>
                    <td width="5px">Last Name</td>
                    <td width="5px">
                        <span class="user-edit-value"><%- model.lastName %></span>
                        <span class="user-edit-input" style="display:none"><input type="text" class="form-control" name="lastName" value="<%- model.lastName %>" /></span>
                    </td>
                </tr>
                <tr>
                    <td width="5px">Email Address</td>
                    <td width="5px"><%- model.email %></td>
                </tr>
                <tr>
                    <td width="5px">Company</td>
                    <td width="5px">
                        <span class="user-edit-value"><%- model.companyName %></span>
                        <span class="user-edit-input" style="display:none"><input type="text" class="form-control" name="companyName" value="<%- model.companyName %>" /></span>
                    </td>
                </tr>
                <tr>
                    <td width="5px">Role Within Company</td>
                    <td width="5px">
                        <span class="user-edit-value"><%- model.roleWithinCompany %></span>
                        <span class="user-edit-input" style="display:none"><input type="text" class="form-control" name="roleWithinCompany" value="<%- model.roleWithinCompany %>" /></span>
                    </td>
                </tr>
                <tr>
                    <td width="5px">Date Accepted EULA</td>
                    <td width="5px"><%- model.dateAcceptedEULA %></td>
                </tr>
                <tr>
                    <td width="5px">Type of User (Internal)</td>
                    <td width="5px">
                        <span class="user-edit-value"><%- model.userType %></span>
                        <span class="user-edit-input" style="display:none">
                            <% if(model.userType == 'developer' || model.userType == 'admin'){ %>
                            <select class="form-control"  name="userType">
                            <!--
                            <option value="invited" <% if(model.userType == 'invited'){ %>selected="selected"<% } %>>invited</option>
                            <option value="approved" <% if(model.userType == 'approved'){ %>selected="selected"<% } %>>approved</option>
                            <option value="guest" <% if(model.userType == 'guest'){ %>selected="selected"<% } %>>guest</option>
                            -->
                            <option value="developer" <% if(model.userType == 'developer'){ %>selected="selected"<% } %>>developer</option>
                            <option value="admin" <% if(model.userType == 'admin'){ %>selected="selected"<% } %>>admin</option>
                        </select>
                            <% } %>
                        </span>
                    </td>
                </tr>
                            <% if(model.invitedEmail){ %>
                            <tr>
                    <td width="5px">Invited Email</td>
                    <td width="5px"><%- model.invitedEmail %></td>
                </tr>
                            <% } %>
                            <% if(model.inviterId){ %>
                            <tr>
                    <td width="5px">Invited By User</td>
                    <td width="5px"><%- model.inviterId %> (UserId)</td>
                </tr>
                            <% } %>
                            <tr>
                    <td width="5px">Created On</td>
                    <td width="5px"><%- model.createdAt %></td>
                </tr>
                <tr>
                    <td width="5px">Last Updated</td>
                    <td width="5px"><%- model.updatedAt %></td>
                </tr>
                <tr>
                    <td width="5px">Magnet Id</td>
                    <td width="5px"><%- model.magnetId %></td>
                </tr>
                <tr id="mmxapp-list-container"></tr>
                <tr id="invitedusers-list-container"></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <a href="#/users" class="main-btn btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>Back to Administration Page</a>
        </div>
    </div>
</script>
<script id="MMXAppListView" type="text/template">
    <% if(col && col.length > 0){ %>
    <td><h4>MMX Apps</h4></td>
    <td>
        <% _.each(col, function(model, key){ %>
            <div did="<%- model.attributes.magnetId %>" class="panel panel-default <% if(!model.attributes.magnetId){ %>hidden<% } %>">
        <div class="panel-heading">
            <h3 class="panel-title">
                        <%- model.attributes.appName %>
                        <button class="mmx-edit btn btn-default">
                <span class="glyphicon glyphicon-pencil pull-right"></span>
            </button>
            </h3>
            <div class="panel-name hidden">
                <input type="text" class="form-control" name="appName" value="<%- model.attributes.appName %>">
                <button class="mmx-saveedit btn btn-default">
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </button>
                <button class="mmx-caneledit btn btn-default">
                    <span class="glyphicon glyphicon-remove pull-right"></span>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>API Key</label>
                <div class="controls">
                    <input type="text" class="form-control" name="apiKey" readonly="readonly" value="<%- model.attributes.apiKey %>">
                </div>
            </div>
            <div class="form-group">
                <label>App Key</label>
                <div class="controls">
                    <input type="text" class="form-control" name="appKey" readonly="readonly" value="<%- model.attributes.appKey %>">
                </div>
            </div>
            <div class="form-group">
                <label>Server User</label>
                <div class="controls">
                    <input type="text" class="form-control" name="serverUser" readonly="readonly" value="<%- model.attributes.serverUser %>">
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <button did="regenerate" class="btn btn-primary">Regenerate Keys</button>
                    <button did="revoke" class="btn btn-primary">Revoke Keys</button>
                    <button did="delete" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>
        <% }); %>
    </td>
    <% } %>
</script>
<script id="InvitedUsersListView" type="text/template">
    <% if(col && col.length > 0){ %>
    <td><h4>Invited Users</h4></td>
    <td>
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Invited On</th>
            </tr>
            <tbody>
            <% _.each(col, function(user, i){ %>
                <tr>
                <td><%- user.attributes.profileName %></td>
                <td><%- user.attributes.email || user.attributes.invitedEmail %></td>
                <td><%- user.attributes.createdAt %></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </td>
    <% } %>
</script>

<script id="CMSListView" type="text/template">
    <% if(col && col.length > 0){ %>
            <ul class="nav nav-list panel">
            <% var cached = ''; _.each(col, function(model, i){ %>
                <% if(cached != model.folder){ cached = model.folder; %>
                <li class="nav-header"><%- cached %></li>
                <% } %>
                <li><a href="#" class="cmspage" folder="<%- model.folder %>" noLayout="<%- model.noLayout %>" filename="<%- model.filename %>"><%- model.filename %></a></li>
            <% }); %>
            </ul>
    <% }else{ %>
    No pages are available.
    <% } %>
</script>
<script id="tableTmplView" type="text/template">
<% if(!disableControls){ %>
<% if(!hideSearch){ %>
                                    <div class="input-append">
        <div class="input-container">
            <input type="text" class="form-control" maxlength="200" placeholder="Search for...">
        </div>
        <div class="btn-group">
            <button class="btn btn-default btn-clear" type="button" style="display:none">Clear <i class="glyphicon glyphicon-remove"></i></button>
            <button class="btn btn-default dropdown-toggle">
                <span class="searchby-text">Search By<% if(searchBy){ %>: <%- headers[searchBy] %><% } %></span>
                <span class="caret"></span>
            </button>
            <button class="btn btn-primary" type="button">Search</button>
            <ul class="dropdown-menu">
<% _.each(headers, function(header, key){ %>
                                                <% if(key != 'profileName' && key != 'accountMagnetActive' && key != 'getConfig'){ %><li<% if(key == searchBy){ %> class="active"<% } %>><a href="#" p="<%- key %>"><%- header %><% } %></a></li>
<% }); %>
                                            </ul>
        </div>
    </div>
<% } %>
                                    <p>Click the column heading to sort in ascending or descending order. Click X to remove the Sort order. </p>
    <ul class="breadcrumb">
        Sort Order: <span></span>
    </ul>
<% } %>
                                    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
<% _.each(headers, function(header, key){ %>
                                            <th <% if(key != 'profileName' && key != 'accountMagnetActive' && key != 'getConfig'){ %>p="<%- key %>"<% } %>><%- header %><span class=""></span></th>
                                            <% }); %>
<% if(!disableInfo){ %>
                                            <th class="listview-details">Details</th>
<% } %>
                                        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="pagination-container"></div>
</script>
<script id="tableItemView" type="text/template">
<% _.each(collection, function(model, key){ %>
                                        <tr data-id="<%- model.attributes.magnetId %>">
<% _.each(headers, function(header, key){ %>
                                            <% if(key == 'getConfig'){ %>
                                            <td><%= model.attributes['getConfig'] %></td>
                                            <% }else{ %>
                                            <td><% if(model.attributes[key]){ %><% if(model.attributes[key].length > 0){ %><%- model.attributes[key] %><% } %><% } %></td>
                                            <% } %>
<% }); %>
<% if(!disableInfo){ %>
                                          <td><button class="btn btn-default">Details</button></td>
<% } %>
                                        </tr>
<% }); %>
</script>
<script id="paginationDetailView" type="text/template">
<% if(paging.total > 10){ %>
    <ul class="pagination">
        <li <% if(paging.start == 0){ %>class="disabled"<% } %>><a href="#" page="<%-paging.previous%>">Prev</a></li>
<% if(paging.start > (paging.rpp * 5) && paging.total < (paging.start+60)){ %>
        <% for(i=Math.round((paging.total-110) / 10) * 10;i<paging.total;i+=paging.rpp){ %>
        <li <% if(paging.start == i){ %>class="disabled"<% } %> ><a href="#" page="<%-i%>"><%-(i/10)+1%></a></li>
        <% } %>
<% }else if(paging.start > (paging.rpp * 5)){ %>
        <% for(i=(paging.start-50);i<(paging.total < (paging.start+60) ? paging.total : (paging.start+60));i+=paging.rpp){ %>
        <li <% if(paging.start == i){ %>class="disabled"<% } %> ><a href="#" page="<%-i%>"><%-(i/10)+1%></a></li>
        <% } %>
<% }else{ %>
        <% for(i=0;i<(paging.total < 110 ? paging.total : 110);i+=paging.rpp){ %>
        <li <% if(paging.start == i){ %>class="disabled"<% } %> ><a href="#" page="<%-i%>"><%-(i/10)+1%></a></li>
        <% } %>
<% } %>
        <li <% if(!paging.next || (paging.start+paging.rpp) == paging.total){ %>class="disabled"<% } %>><a href="#" page="<%-paging.next%>">Next</a></li>
    </ul>
    <div class="pagination-captions">
        <%- paging.total %> records total. viewing records <%- (paging.start+1) %> to <%- (paging.total < (paging.start+paging.rpp) ? paging.total : (paging.start+paging.rpp)) %>.
    </div>
<% } %>
</script>
<!-- dialogs end -->

<script id="AdminConfigurationTmpl" type="text/template">
    <div class="panel-group clearfix" id="admin-config-container-collapsible">
        <% _.each(configs, function(val, key){ %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#admin-config-container-collapsible" href="#admin-config-item-<%- key %>">
                        <%- key %>
                    </a>
                </h4>
            </div>
            <div id="admin-config-item-<%- key %>" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="admin-config-item-container" did="<%- key %>">
                        <div class="buttons-section">
                            <span class="alert-container"></span>
                            <div class="form-group clearfix">
                            <%= renderConfigItem(key, val, configs) %>
                            </div>
                            <hr />
                            <div class="button-group clearfix">
                                <button class="admin-config-save-btn btn btn-primary">Save Changes</button>
                            </div>
                        </div>
                        <div class="loading buttons-section" style="display:none">
                            Loading.. Please Wait.. <img src="/admin/images/ajax-loader-sm.gif" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</script>
<script id="AdminConfigurationAppTmpl" type="text/template">
    <div class="col-sm-6">
        <label>App Url</label>
        <input type="text" name="appUrl" class="form-control" placeholder="App Url" value="<%- config.appUrl %>" />
    </div>
    <div class="col-sm-6">
        <label>Port</label>
        <input type="text" name="port" class="form-control" placeholder="Port" value="<%- config.port %>" />
    </div>
</script>
<script id="AdminConfigurationDatabaseTmpl" type="text/template">
    <p>Modify the Admin Console database configuration.</p>
    <div class="alert alert-info" role="alert">
        <strong>Note:</strong> If you change to another database, you should make sure that the other
        database has at least one admin user. Otherwise, you will not be able to log in.
    </div>
    <div class="col-sm-4">
        <label>Hostname</label>
        <input type="text" name="host" class="form-control" placeholder="Hostname" value="<%- config.host %>" />
    </div>
    <div class="col-sm-4">
        <label>Port</label>
        <input type="text" name="port" class="form-control" placeholder="Port" value="<%- config.port %>" />
    </div>
    <div class="col-sm-4">
        <label>Database Name</label>
        <input type="text" name="dbName" class="form-control" placeholder="Database Name" value="<%- config.dbName %>" />
    </div>
    <div class="col-sm-6">
        <label>Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username" value="<%- config.username %>" />
    </div>
    <div class="col-sm-6">
        <label>Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" value="" />
    </div>
</script>
<script id="AdminConfigurationRedisTmpl" type="text/template">
    <p>Redis can be used to share user session between multiple Admin Console nodes in a cluster. For a single
        Admin Console deployment, Redis allows modfication of configuration without getting logged out.</p>
    <div class="col-sm-6">
        <label>Enabled
            <span class="glyphicon glyphicon-info-sign" title="" data-placement="top" data-toggle="tooltip" data-title="A redis database can be used to store user sessions. This is required only if you wish to deploy the Admin Console server as a cluster."></span>
        </label>
        <div class="btn-group btn-toggle clearfix" did="enabled">
            <button class="btn btn-sm <% if(config.enabled === true){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="true" type="button">Yes</button>
            <button class="btn btn-sm <% if(typeof config.enabled == 'undefined' || config.enabled === false){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="false" type="button">No</button>
        </div>
    </div>
    <div class="col-sm-6">
        <label>Hostname</label>
        <input type="text" name="host" class="form-control" placeholder="Hostname" value="<%- config.host %>" />
    </div>
    <div class="col-sm-6">
        <label>Port</label>
        <input type="text" name="port" class="form-control" placeholder="Port" value="<%- config.port %>" />
    </div>
    <div class="col-sm-6">
        <label>Password</label>
        <input type="pass" name="pass" class="form-control" placeholder="Password" value="" />
    </div>
</script>
<script id="AdminConfigurationConsoleLogTmpl" type="text/template">
    <div class="col-sm-4">
        <label>Enabled</label>
        <div class="btn-group btn-toggle clearfix" did="enabled">
            <button class="btn btn-sm <% if(config.enabled === true){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="true" type="button">Yes</button>
            <button class="btn btn-sm <% if(typeof config.enabled == 'undefined' || config.enabled === false){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="false" type="button">No</button>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Handle Exceptions
            <span class="glyphicon glyphicon-info-sign" title="" data-placement="top" data-toggle="tooltip" data-title="If enabled, uncaught exceptions do not crash the server and the exception is logged."></span>
        </label>
        <div class="btn-group btn-toggle clearfix" did="handleExceptions">
            <button class="btn btn-sm <% if(config.handleExceptions === true){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="true" type="button">Yes</button>
            <button class="btn btn-sm <% if(typeof config.handleExceptions == 'undefined' || config.handleExceptions === false){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="false" type="button">No</button>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Log Level</label>
        <select class="form-control" name="level">
            <% _.each(levels, function(val, key){ %>
            <option value="<%- val %>" <% if(config.level === val){ %>selected="selected"<% } %>><%- val %></option>
            <% }); %>
        </select>
    </div>
</script>
<script id="AdminConfigurationFileLogTmpl" type="text/template">
    <p>Logs can be written to log files.</p>
    <div class="col-sm-4">
        <label>Enabled</label>
        <div class="btn-group btn-toggle clearfix" did="enabled">
            <button class="btn btn-sm <% if(config.enabled === true){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="true" type="button">Yes</button>
            <button class="btn btn-sm <% if(typeof config.enabled == 'undefined' || config.enabled === false){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="false" type="button">No</button>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Handle Exceptions
            <span class="glyphicon glyphicon-info-sign" title="" data-placement="top" data-toggle="tooltip" data-title="If enabled, uncaught exceptions do not crash the server and the exception is logged."></span>
        </label>
        <div class="btn-group btn-toggle clearfix" did="handleExceptions">
            <button class="btn btn-sm <% if(config.handleExceptions === true){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="true" type="button">Yes</button>
            <button class="btn btn-sm <% if(typeof config.handleExceptions == 'undefined' || config.handleExceptions === false){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="false" type="button">No</button>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Log Level</label>
        <select class="form-control" name="level">
            <% _.each(levels, function(val, key){ %>
            <option value="<%- val %>" <% if(config.level === val){ %>selected="selected"<% } %>><%- val %></option>
            <% }); %>
        </select>
    </div>
    <div class="col-sm-6">
        <label>Folder
            <span class="glyphicon glyphicon-info-sign" title="" data-placement="top" data-toggle="tooltip" data-title="The folder to write log files, relative to the root directory."></span>
        </label></label>
        <input type="text" name="folder" class="form-control" placeholder="Folder" value="<%- config.folder %>" />
    </div>
    <div class="col-sm-6">
        <label>Filename</label>
        <input type="text" name="filename" class="form-control" placeholder="Filename" value="<%- config.filename %>" />
    </div>
    <div class="col-sm-6">
        <label>Maximum Size
            <span class="glyphicon glyphicon-info-sign" title="" data-placement="top" data-toggle="tooltip" data-title="The maximum log file size before logs are written to a new file."></span>
        </label></label>
        <input type="text" name="maxsize" class="form-control" placeholder="Maximum Size" value="<%- config.maxsize %>" />
    </div>
    <div class="col-sm-6">
        <label>Maximum Files
            <span class="glyphicon glyphicon-info-sign" title="" data-placement="top" data-toggle="tooltip" data-title="The maximum number of log files before logs are overwritten."></span>
        </label></label>
        <input type="text" name="maxFiles" class="form-control" placeholder="Maximum Files" value="<%- config.maxFiles %>" />
    </div>
</script>
<script id="AdminConfigurationEmailLogTmpl" type="text/template">
    <p>Logs can be emailed to a recipient.</p>
    <div class="col-sm-4 clearfix">
        <label>Enabled
            <span class="glyphicon glyphicon-info-sign" title="" data-placement="top" data-toggle="tooltip" data-title="The Email feature must first be enabled and configured correctly before email logs can be sent."></span>
        </label>
        <div class="btn-group btn-toggle" did="enabled">
            <button class="btn btn-sm <% if(allConfigs.Email.enabled !== true){ %>disabled<%} %> <% if(config.enabled === true){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="true" type="button">Yes</button>
            <button class="btn btn-sm <% if(allConfigs.Email.enabled !== true){ %>disabled<%} %> <% if(typeof config.enabled == 'undefined' || config.enabled === false){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="false" type="button">No</button>
        </div>
    </div>
    <div class="col-sm-4 clearfix">
        <label>Handle Exceptions
            <span class="glyphicon glyphicon-info-sign" title="" data-placement="top" data-toggle="tooltip" data-title="If enabled, uncaught exceptions do not crash the server and the exception is logged."></span>
        </label>
        <div class="btn-group btn-toggle" did="handleExceptions">
            <button class="btn btn-sm <% if(config.handleExceptions === true){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="true" type="button">Yes</button>
            <button class="btn btn-sm <% if(typeof config.handleExceptions == 'undefined' || config.handleExceptions === false){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="false" type="button">No</button>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Log Level</label>
        <select class="form-control" name="level">
            <% _.each(levels, function(val, key){ %>
            <option value="<%- val %>" <% if(config.level === val){ %>selected="selected"<% } %>><%- val %></option>
            <% }); %>
        </select>
    </div>
    <div class="col-sm-12">
        <label>Recipient</label>
        <input type="text" name="recipient" class="form-control" placeholder="Folder" value="<%- config.recipient %>" />
    </div>
</script>
<script id="AdminConfigurationEmailTmpl" type="text/template">
    <p>Once email is set up properly, the email logging feature can be enabled and emails can be sent automatically to users during the registration process.</p>
    <div class="col-sm-4 clearfix">
        <label>Enabled</label>
        <div class="btn-group btn-toggle" did="enabled">
            <button class="btn btn-sm <% if(config.enabled === true){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="true" type="button">Yes</button>
            <button class="btn btn-sm <% if(typeof config.enabled == 'undefined' || config.enabled === false){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="false" type="button">No</button>
        </div>
    </div>
    <div class="col-sm-4 clearfix">
        <label>TLS</label>
        <div class="btn-group btn-toggle" did="tls">
            <button class="btn btn-sm <% if(config.tls === true){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="true" type="button">Yes</button>
            <button class="btn btn-sm <% if(typeof config.tls == 'undefined' || config.tls === false){ %>btn-primary active<% }else{ %>btn-default<% } %>" did="false" type="button">No</button>
        </div>
    </div>
    <div class="col-sm-4">
        <label>Sender</label>
        <input type="text" name="sender" class="form-control" placeholder="Folder" value="<%- config.sender %>" />
    </div>
    <div class="col-sm-6">
        <label>Hostname</label>
        <input type="text" name="host" class="form-control" placeholder="Hostname" value="<%- config.host %>" />
    </div>
    <div class="col-sm-6">
        <label>Port</label>
        <input type="text" name="port" class="form-control" placeholder="Port" value="<%- config.port %>" />
    </div>
    <div class="col-sm-6">
        <label>Username</label>
        <input type="text" name="user" class="form-control" placeholder="Username" value="<%- config.user %>" />
    </div>
    <div class="col-sm-6">
        <label>Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" value="" />
    </div>
</script>
<script id="AdminConfigurationMMXTmpl" type="text/template">
    <p>Configuration for Magnet Messaging server. </p>
    <div class="form-group clearfix">
        <div class="col-sm-6">
            <label>Hostname</label>
            <input type="text" name="host" class="form-control" placeholder="Hostname" value="<%- config.host %>" />
        </div>
        <div class="col-sm-6">
            <label>Port</label>
            <input type="text" name="port" class="form-control" placeholder="Port" value="<%- config.port %>" />
        </div>
        <div class="col-sm-6">
            <label>Username</label>
            <input type="text" name="user" class="form-control" placeholder="Username" value="<%- config.user %>" />
        </div>
        <div class="col-sm-6">
            <label>Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" value="" />
        </div>
    </div>
</script>

