
<div id="wizard-container" class="app-view fullpos">
    <div id="wizard-main-tab" class="fullpos"></div>
</div>


<script id="ProjectWizardView" type="text/template">
    <div id="project-wizard-container" class="wizard" data-initialize="wizard">
        <ul class="steps">
            <li did="intro" class="active" data-step="1"><span class="badge badge-info">1</span>Welcome<span class="chevron"></span></li>
            <li did="database" data-step="2"><span class="badge">2</span>Database<span class="chevron"></span></li>
            <li did="admin" data-step="3"><span class="badge">3</span>Admin User<span class="chevron"></span></li>
            <li did="messaging" data-step="4"><span class="badge">4</span>Messaging<span class="chevron"></span></li>
            <li did="finish" data-step="5"><span class="badge">5</span>Finish<span class="chevron"></span></li>
        </ul>
        <div class="actions hidden">
            <button type="button" class="btn btn-default btn-prev"><span class="glyphicon glyphicon-arrow-left"></span>Previous</button>
            <button type="button" class="btn btn-default btn-next" data-last="Complete">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
        <div class="step-content fullpos">
            <div did="intro" class="step-pane active sample-pane alert" data-step="1">
                <h4>Welcome</h4>
                <p>Congratulations on getting started with Magnet Messaging. We will walk you through the first-time configuration of your server.</p>
                <br />
                <div class="button-group clearfix">
                    <button class="wiz-next btn btn-primary" type="button">
                        Next <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </div>
            <div did="database" class="step-pane sample-pane alert" data-step="2">
                <h4>Setup Database</h4>
                <p>Configure a MySQL system database which will be used to store all of your data. To get started, download and install the MySQL Community Server which can be found at the <a href="http://dev.mysql.com/downloads/mysql/" target="_blank">MySQL website</a>.</p>
                <hr />
                <div id="wizard-db-container"></div>
                <div class="button-group clearfix">
                    <button class="wiz-prev btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Previous
                    </button>
                    <button class="wiz-next btn btn-primary" type="button">
                        Next <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </div>
            <div did="admin" class="step-pane sample-pane alert" data-step="3">
                <h4>Setup Admin User</h4>
                <p>Configure an admin user to log in to the Admin Console. You will be able to modify this user and create other admin users later.</p>
                <hr />
                <div id="wizard-admin-container"></div>
                <div class="button-group clearfix">
                    <button class="wiz-prev btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Previous
                    </button>
                    <button class="wiz-next btn btn-primary" type="button">
                        Next <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </div>
            <div did="messaging" class="step-pane sample-pane alert" data-step="4">
                <h4>Setup Messaging</h4>
                <p>Configure your Magnet Messaging server.</p>
                <hr />
                <div id="wizard-messaging-container"></div>
                <div class="button-group clearfix">
                    <button class="wiz-prev btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Previous
                    </button>
                    <button class="wiz-next btn btn-primary" type="button">
                        Next <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </div>
            <div class="step-pane sample-pane alert" data-step="5">
                <h4>Confirm and Finish</h4>
                <p>Below is a summary of the settings you configured. When you are ready to start using the server, click <b>Complete Installation</b>. </p>
                <table id="wizard-summary-table" class="table">
                    <tbody>
                    <tr>
                        <td>Setup Database</td>
                        <td><span class="label label-success">Success</span></td>
                    </tr>
                    <tr>
                        <td>Setup Admin User</td>
                        <td><span class="label label-success">Success</span></td>
                    </tr>
                    <tr>
                        <td >Setup Messaging</td>
                        <td><span class="label label-success">Success</span></td>
                    </tr>
                    </tbody>
                </table>
                <button id="complete-wizard-btn" class="btn btn-primary">Complete Installation</button>
            </div>
        </div>
    </div>
</script>

<script id="WizardDBTmpl" type="text/template">
    <% if(typeof active !== 'undefined'){ %>
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>All Ready!</strong> Your Database configuration has already been configured.
    </div>
    <% }else{ %>
    <form id="wizard-database-form" role="form" class="clearfix">
        <div class="form-group">
            <!--<div class="col-md-12">-->
                <!--<label>Select a database type</label>-->
                <!--<select class="form-control" name="dialect">-->
                    <!--<option value="mysql">MySQL</option>-->
                    <!--<option value="postgres">Postgres</option>-->
                <!--</select>-->
            <!--</div>-->
            <form role="form" class="clearfix">
                <span class="alert-container"></span>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Username" value="<%- username %>" />
                    </div>
                    <div class="col-sm-6">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password" value="" />
                    </div>
                    <div class="col-sm-4">
                        <label>Hostname</label>
                        <input type="text" name="host" class="form-control" placeholder="Hostname" value="<%- host %>" />
                    </div>
                    <div class="col-sm-4">
                        <label>Port</label>
                        <input type="text" name="port" class="form-control" placeholder="Port" value="<%- port %>" />
                    </div>
                    <div class="col-sm-4">
                        <label>Database Name</label>
                        <input type="text" name="dbName" class="form-control" placeholder="Database Name" value="<%- dbName %>" />
                    </div>
                </div>
            </form>
        </div>
    </form>
    <div class="storage-provider-container"></div>
    <% } %>
</script>

<script id="WizardSeedAdminTmpl" type="text/template">
    <% if(typeof active !== 'undefined'){ %>
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>All Ready!</strong> An admin user has been created.
    </div>
    <% }else{ %>
    <div class="alert alert-info" role="alert">
        <strong>Note:</strong> To protect your security, use a password with 10 or more alphanumerical characters with both
        upper and lower case letters.
    </div>
    <form id="wizard-admin-form" role="form" class="clearfix">
        <span class="alert-container"></span>
        <div class="form-group">
            <div class="col-md-12">
                <label>Email Address</label>
                <input type="text" class="form-control" name="email" placeholder="Email Address" value="manager1@magnetapi.com" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" value="" />
            </div>
            <div class="col-md-6">
                <label>Password (repeat)</label>
                <input type="password" class="form-control" name="passwordVerify" placeholder="Password (repeat)" value="" />
            </div>
        </div>
    </form>
    <% } %>
</script>

<script id="WizardMessagingTmpl" type="text/template">
    <% if(typeof active !== 'undefined'){ %>
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>All Ready!</strong> Your Magnet Messaging configuration has been completed.
    </div>
    <% }else{ %>
    <form id="wizard-messaging-form" role="form" class="clearfix">
        <span class="alert-container"></span>
        <div class="form-group clearfix">
            <div class="col-md-6">
                <label>Hostname</label>
                <input type="text" class="form-control" name="host" placeholder="Hostname" value="localhost" />
            </div>
            <div class="col-sm-6">
                <label>Service Domain
                    <span class="glyphicon glyphicon-info-sign" title="" data-placement="top" data-toggle="tooltip" data-title="This domain or IP address must be reachable by the mobile devices or emulators using your messaging app."></span>
                </label>
                <input type="text" name="xmppDomain" class="form-control" placeholder="Service Domain" value="{{= typeof serverIP !== 'undefined' ? serverIP : 'localhost'}}" />
            </div>
        </div>
        <div class="panel-group clearfix" id="wizard-messaging-advanced-config">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#wizard-messaging-advanced-config" href="#wizard-messaging-db-config-item">
                            Database Configuration
                        </a>
                    </h4>
                </div>
                <div id="wizard-messaging-db-config-item" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Database configuration for the messaging server. By default, the messaging server will share the same database as
                            the Admin Console. You can configure a different database by modifying the configuration below.</p>
                        <div class="form-group clearfix">
                            <div class="col-sm-4">
                                <label>Share Database
                                    <span class="glyphicon glyphicon-info-sign" title="" data-placement="top" data-toggle="tooltip" data-title="Choose Yes to share the same database as the Admin Console."></span>
                                </label>
                                <div class="btn-group btn-toggle" did="shareDB">
                                    <button class="btn btn-sm btn-primary active" did="true" type="button">Yes</button>
                                    <button class="btn btn-sm btn-default" did="false" type="button">No</button>
                                </div>
                            </div>
                        </div>
                        <div id="wizard-messaging-database-config" class="hidden">
                            <div class="form-group clearfix">
                                <div class="col-sm-6">
                                    <label>Username</label>
                                    <input type="text" name="mysqlUser" class="form-control" placeholder="Username" value="<%- username %>" />
                                </div>
                                <div class="col-sm-6">
                                    <label>Password</label>
                                    <input type="password" name="mysqlPassword" class="form-control" placeholder="Password" value="" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Hostname</label>
                                    <input type="text" name="mysqlHost" class="form-control" placeholder="Hostname" value="<%- host %>" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Port</label>
                                    <input type="text" name="mysqlPort" class="form-control" placeholder="Port" value="<%- port %>" />
                                </div>
                                <div class="col-sm-4">
                                    <label>Database Name</label>
                                    <input type="text" name="mysqlDb" class="form-control" placeholder="Database Name" value="<%- dbName %>" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#wizard-messaging-advanced-config" href="#wizard-messaging-advanced-config-item">
                            Advanced Configuration
                        </a>
                    </h4>
                </div>
                <div id="wizard-messaging-advanced-config-item" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Additional configuration for advanced users. Please do not modify these unless you are familiar with the settings.</p>
                        <div class="form-group clearfix">
                            <div class="col-md-6">
                                <label>Messaging Username</label>
                                <input type="text" class="form-control" name="user" placeholder="Username" value="admin" />
                            </div>
                            <div class="col-md-6">
                                <label>Messaging Password
                                    <span class="glyphicon glyphicon-info-sign" title="" data-placement="top" data-toggle="tooltip" data-title="The default password is 'admin'."></span>
                                </label>
                                <input type="password" class="form-control" name="password" placeholder="Password" value="admin" />
                            </div>
                            <div class="col-sm-6">
                                <label>Messaging Port</label>
                                <input type="text" name="xmppPort" class="form-control" placeholder="Messaging Port" value="5222" />
                            </div>
                            <div class="col-sm-6">
                                <label>Messaging Secure Port</label>
                                <input type="text" name="xmppSecurePort" class="form-control" placeholder="Messaging Secure Port" value="5223" />
                            </div>
                            <div class="col-sm-6">
                                <label>HTTP Port</label>
                                <input type="text" name="httpPort" class="form-control" placeholder="HTTP Port" value="9090" />
                            </div>
                            <div class="col-sm-6">
                                <label>HTTPS Port</label>
                                <input type="text" name="httpsPort" class="form-control" placeholder="HTTPS Port" value="9091" />
                            </div>
                            <div class="col-sm-4">
                                <label>Web Port</label>
                                <input type="text" name="webPort" class="form-control" placeholder="Web Port" value="9090" />
                            </div>
                            <div class="col-sm-4">
                                <label>Public API Port</label>
                                <input type="text" name="publicPort" class="form-control" placeholder="Public API Port" value="5221" />
                            </div>
                            <div class="col-sm-4">
                                <label>Admin API Port</label>
                                <input type="text" name="adminPort" class="form-control" placeholder="Admin API Port" value="7070" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <% } %>
</script>
