<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js dev" lang="en"> <!--<![endif]-->
<head>
    <title>Developer Factory</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="../stylesheets/dev.css" />
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:200,300,400" rel="stylesheet" type="text/css">
    <script data-main="../js/desktop" src="../js/libs/require.js"></script>
</head>
<body>
<div id="site-header">
    <div class="logo_container">
        <a href="../">
            <img src="../images/heading.png" alt="Developer Factory" /><h4>Developer Factory</h4>
        </a>
    </div>
    <ul class="title_container">
        <li class="active">
            <a href="../dev/">Get Started</a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" href="../resources/">Resources</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li id="menu-samples" role="presentation"><a role="menuitem" tabindex="-1" href="/resources/samples/">Samples</a></li>

                <li id="menu-mam" role="presentation"><a role="menuitem" tabindex="-1" href="/resources/mobile-app-manager/">Mobile App Manager</a></li>
            </ul>
        </li>
        <li>
            <a href="../docs/">Documentation</a>
        </li>
        <li>
            <a href="../support/">Support</a>
        </li>
    </ul>
    <div class="control-buttons">
        <a href="#" id="invite-others"><i class="icon-plus icon-white"></i><i class="icon-user icon-white"></i></a>
        <a href="#" id="user-panel-toggle"><i class="icon-chevron-down icon-white"></i><span id="username-placeholder">{{= userEmail }}</span></a>
    </div>
</div>
<div id="user-panel" style="display:none">
    <div class="col">
        <span class="user-username">{{= userEmail }}</span><br />
        <span class="user-company">{{= userCompany }}</span>
    </div>
    <div class="col2">
        <a href="/profile">Edit Profile</a>
    </div>
    <div class="btns">
        <a href="/logout" class="btn btn-primary">Log Out</a>
    </div>
</div>
</div>
<div id="project-wizard" class="page hidden">
    <div class="row-fluid">
        <div class="page-view">
            <div class="tab_container">
                <div id="project-details-container">
                    <button id="save-project-details-btn" class="span2 btn btn-primary">Start Wizard</button>
                    <input type="text" name="name" maxlength="40" class="span3 popup-info" placeholder="Project Name"  title="Project Name can only contain letters, numbers, spaces, and underscores with a maximum of 40 characters" />
                    <input type="text" class="span5" name="description" placeholder="Project Description" />
                    <input type="text" class="span2" name="version" placeholder="Project Version" />
                </div>
                <div class="row-fluid">
                    <div id="wizard-container" class="span4">
                        <img id="wizard-image-bgk" style="display:none" src="../images/wizard/bg_subhdr.png" />
                        <div id="wizard-diagram-canvas" style="display:none">
                            <div id="wizard-step-title" class="step1">
                                <span class="first">1</span>
                                <span class="second">Configure Your App</span>
                            </div>
                            <img src="../images/wizard/wizgraphic-1.png" />
                        </div>
                        <div id="wizard-intro-left">
                            <p>Welcome to the</p>
                            <p><h4>Magnet Quick Start Wizard</h4></p>
                            <img src="../images/wizard-start/wizgraphic-start.png" />
                        </div>
                    </div>
                    <div id="wizard-content-container" class="span8">
                        <div id="pw-intro" did="intro" class="wizard_content">
                            <div class="preview-title">
                                At the end of this wizard, you will get a
                            </div>
                            <div class="section clearfix">
                                <img src="../images/wizard-start/wizstart_mappicon.png" />
                                <b>Magnet App Project Profile</b>
                            </div>
                            <div class="divider clearfix">
                                <img src="../images/wizard-start/wizstart_arrowdn.png" />
                                <div>which you will import into and run in the</div>
                            </div>
                            <div class="section clearfix">
                                <img src="../images/wizard-start/wizstart_mabicon.png" />
                                <b>Magnet App Builder</b>
                            </div>
                            <div class="divider clearfix">
                                <img src="../images/wizard-start/wizstart_arrowdn.png" />
                                <div>where you can generate your</div>
                            </div>
                            <div class="section clearfix">
                                <img src="../images/wizard-start/wizstart_clients.png" />
                                <b>Mobile and Server Assets</b>
                            </div>
                        </div>
                        <div id="pw-core" did="core" class="wizard_content hidden">
                            <div id="pw-core-form">
                            </div>
                        </div>
                        <div id="pw-samples" did="samples" class="wizard_content hidden">
                            <div id="pw-samples-form">
                            </div>
                        </div>
                        <div id="pw-enterprise" did="enterprise" class="wizard_content hidden">
                            <div class="accordion" id="enterprise-accordion">
                                <div did="webservices" class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#enterprise-accordion" href="#enterprise-wsdls">
                                            Your Web Services
                                            <i class="icon icon-chevron-down"></i>
                                            <div id="pw-enterprise-status" class="preview-status"></div>
                                        </a>
                                    </div>
                                    <div id="enterprise-wsdls" class="accordion-body collapse" style="height:0">
                                        <div class="accordion-inner">
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <h4 class="section-title">Add APIs from a URL</h4>
                                                    <p> You can also add these files to be used by the Magnet App Builer Tool locally.</p>
                                                    <div class="input-append">
                                                        <input class="span8" name="wsdl-url" type="text" placeholder="Enter URL path to a public WSDL/WADL.">
                                                        <button id="pw-wsdl-addurl-btn" class="btn" type="button">Add API URL</button>
                                                    </div>
                                                    <ul class="pw-wsdl-url-processing hidden"></ul>
                                                </div>
                                                <!--
                                                <div class="span6">
                                                    <h4 class="section-title">Add From URL</h4>
                                                    <p>Input URL path to a public WSDL/WADL.</p>
                                                    <div class="input-append">
                                                        <input class="span8" name="wsdl-url" type="text">
                                                        <button id="pw-wsdl-addurl-btn" class="btn" type="button">Add URL</button>
                                                    </div>
                                                    <ul class="pw-wsdl-url-processing hidden"></ul>
                                                </div>
                                                <div class="span6 span2nd">
                                                    <h4 class="section-title">Add from your computer</h4>
                                                    <p>Select a WSDL/WADL from your computer.</p>
                                                    <div id="pw-wsdl-file"></div>
                                                </div>
                                                -->
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <ul id="pw-wsdl-list"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="pw-summary" did="summary" class="wizard_content hidden">
                            <div id="pw-summary-form">
                            </div>
                        </div>
                    </div>
                </div>
                <div did="intro" class="clearfix hidden button-group">
                </div>
                <div did="core" class="clearfix hidden button-group">
                    <a type="button" class="go-next main-btn btn pull-right"><b>Next:</b> Step 2 - Choose Sample APIs</a>
                </div>
                <div did="samples" class="clearfix hidden button-group">
                    <a href="#/" class="go-back main-btn btn"><b>Previous:</b> Step 1 - Configure Your App</a>
                    <a type="button" class="go-next main-btn btn pull-right"><b>Next:</b> Step 3 - Add Other APIs</a>
                </div>
                <div did="enterprise" class="clearfix hidden button-group">
                    <a href="#/" class="go-back main-btn btn"><b>Previous:</b> Step 2 - Choose Sample APIs</a>
                    <a type="button" class="go-next main-btn btn pull-right"><b>Next:</b> Step 4 - Start Developing</a>
                </div>
                <div did="summary" class="clearfix hidden button-group">
                    <a href="#/" class="go-back main-btn btn"><b>Previous:</b> Step 3 - Add Other APIs</a>
                    <!--
                    <button id="finish-wizard-btn" type="button" class="main-btn btn btn-primary pull-right">Finish and Generate Assets</button>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
<div id="get-started" class="page hidden">
    <div class="row-fluid">
        <div class="page-view">
            <div class="row-fluid">
                <h4 class="page-h4">Get Started</h4>
                <ul class="nav nav-tabs">
                    <li id="gs-projectguide-tab" class="active"><a href="#gs-projectguide">Project Guide</a></li>
                    <li id="gs-android-tab"><a href="#gs-android">Android Developer</a></li>
                    <li id="gs-ios-tab"><a href="#gs-ios">iOS Developer</a></li>
                    <li id="gs-server-tab"><a href="#gs-server">Server Developer</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="gs-projectguide">
                        <h4>Project Guide</h4> <!--The process below outlines a typical project process.-->
                        <div class="guide-container">
                            <div class="guide-row odd">
                                <img src="../images/getstarted/gtstrtd_mbprj_1.png" />
                                <div class="guide-content">
                                    <div class="row-fluid">
                                        <div class="span7">
                                            <div class="guide-step">1</div>
                                            <div>
                                                <b>Get Mobile Project</b>
                                                <p>Get started with a project template for your mobile app.</p>
                                            </div>
                                        </div>
                                        <div class="span5">
                                            <a class="btn dbl">Get Android Project</a><br />
                                            <a href="/resources/files/iOS-JumpStartApp.zip" class="btn dbl">Get Xcode Project for iOS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="guide-row">
                                <img src="../images/getstarted/gtstrtd_mbprj_2.png" />
                                <div class="guide-content">
                                    <div class="row-fluid">
                                        <div class="span7">
                                            <div class="guide-step">2</div>
                                            <div>
                                                <b>Use Quickstart Wizard</b>
                                                <p>Choose from a list of sample services and provide your own APIs.</p>
                                            </div>
                                        </div>
                                        <div class="span5">
                                            <a class="btn" href="/dev/#/project-wizard">Quickstart Wizard</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="guide-row odd">
                                <img src="../images/getstarted/gtstrtd_mbprj_3.png" />
                                <div class="guide-content">
                                    <div class="row-fluid">
                                        <div class="span7">
                                            <div class="guide-step">3</div>
                                            <div>
                                                <b>Run Magnet App Builder Tool</b>
                                                <p>Use the tool to create mobile and server project files.</p>
                                            </div>
                                        </div>
                                        <div class="span5">
                                            <a class="btn" href="/resources/files/mab.zip">Download App Builder Tool</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="guide-row">
                                <img src="../images/getstarted/gtstrtd_mbprj_4.png" />
                                <div class="guide-content">
                                    <div class="row-fluid">
                                        <div class="span7">
                                            <div class="guide-step">4</div>
                                            <div>
                                                <b>Share Project Files</b>
                                                <p>Distribute mobile and server project files among team members.</p>
                                            </div>
                                        </div>
                                        <div class="span5">
                                            <a class="btn">Go to Documentation</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="guide-row odd">
                                <img src="../images/getstarted/gtstrtd_mbprj_5.png" />
                                <div class="guide-content">
                                    <div class="row-fluid">
                                        <div class="span7">
                                            <div class="guide-step">5</div>
                                            <div>
                                                <b>Build Your App</b>
                                                <p>Use the project files to develop your mobile app.</p>
                                            </div>
                                        </div>
                                        <div class="span5">
                                            <a class="btn">Go to Documentation</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="guide-row">
                                <img src="../images/getstarted/gtstrtd_mbprj_6.png" />
                                <div class="guide-content">
                                    <div class="row-fluid">
                                        <div class="span7">
                                            <div class="guide-step">6</div>
                                            <div>
                                                <b>Deploy Your App</b>
                                                <p>Deploy to the cloud or your local development environment.</p>
                                            </div>
                                        </div>
                                        <div class="span5">
                                            <a class="btn">Go to Documentation</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="gs-ios">
                        <h4>iOS Developer</h4>
                        <p>The topics below will help the iOS Developer get started.</p>
                        <div class="guide-container">
                            <div class="guide-row odd">
                                <img src="../images/getstarted/gtstrtd_act_ios.png" />
                                <div class="guide-content">
                                    <div class="row-fluid">
                                        <div class="span9">
                                            <div class="guide-step">1</div>
                                            <div>
                                                <b>Start iOS Project</b>
                                                <p>
                                                    <b>Option 1</b> Download the <a href="/resources/files/iOS-JumpStartApp.zip">Jumpstart App</a><br />
                                                    <b>Option 2</b> Start your own app project and add the Magnet Mobile Framework yourself.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="guide-divider">
                                <img src="../images/getstarted/gtsrtd_act_dots.png" />
                            </div>
                            <div class="guide-row odd">
                                <img src="../images/getstarted/gtstrtd_act_xcode.png" />
                                <div class="guide-content">
                                    <div class="row-fluid">
                                        <div class="span9">
                                            <div class="guide-step">2</div>
                                            <div>
                                                <b>Include Project Libraries</b>
                                                <p>Here is how to include your project libraries into your IDE using Command Line.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="guide-divider">
                                <img src="../images/getstarted/gtsrtd_act_dots.png" />
                            </div>
                            <div class="guide-row odd">
                                <img src="../images/getstarted/gtstrtd_act_hellow.png" />
                                <div class="guide-content">
                                    <div class="row-fluid">
                                        <div class="span9">
                                            <div class="guide-step">3</div>
                                            <div>
                                                <b>Build Your App</b>
                                                <p>Check the Hello World implementation on how to call a controller.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="gs-server">
                        <h4>Server Developer</h4>
                        <p>The topics below will help the Server Developer get started.</p>
                        <div class="guide-container">
                            <div class="guide-row odd">
                                <img src="../images/getstarted/gtstrtd_act_wizard.png" />
                                <div class="guide-content">
                                    <div class="row-fluid">
                                        <div class="span9">
                                            <div class="guide-step">1</div>
                                            <div>
                                                <b>Use the Quick Start Wizard</b>
                                                <p>
                                                    Choose from a list of sample services, provide your own APIs, and receive a Magnet
                                                    App Project Profile (.mapp) that can be used to generate your mobile app project files.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="guide-divider">
                                <img src="../images/getstarted/gtsrtd_act_dots.png" />
                            </div>
                            <div class="guide-row odd">
                                <img src="../images/getstarted/gtstrtd_act_tool.png" />
                                <div class="guide-content">
                                    <div class="row-fluid">
                                        <div class="span9">
                                            <div class="guide-step">2</div>
                                            <div>
                                                <b>Install and Run the Magnet App Builder Tool</b>
                                                <p>Using your Magnet App Project Profile (.mapp), the Magnet App Builder Tool creates the mobile
                                                and server project files to be used for development.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="guide-divider">
                                <img src="../images/getstarted/gtsrtd_act_dots.png" />
                            </div>
                            <div class="guide-row odd">
                                <img src="../images/getstarted/gtstrtd_act_java.png" />
                                <div class="guide-content">
                                    <div class="row-fluid">
                                        <div class="span9">
                                            <div class="guide-step">3</div>
                                            <div>
                                                <b>Build your Magnet Mobile App Server Runtime</b>
                                                <p>Using the project files created by the Magnet App Builder Tool, develop your Magnet Mobile App
                                                Server Runtime.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="guide-divider">
                                <img src="../images/getstarted/gtsrtd_act_dots.png" />
                            </div>
                            <div class="guide-row odd">
                                <img src="../images/getstarted/gtstrtd_act_mmas.png" />
                                <div class="guide-content">
                                    <div class="row-fluid">
                                        <div class="span9">
                                            <div class="guide-step">4</div>
                                            <div>
                                                <b>Run your Magnet Mobile App Server Runtime</b>
                                                <p>Deploy your Magnet Mobile App Server Runtime to your local environment or to the cloud.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="guide-divider">
                                <img src="../images/getstarted/gtsrtd_act_dots.png" />
                            </div>
                            <div class="guide-row odd">
                                <img src="../images/getstarted/gtstrtd_act_extend.png" />
                                <div class="guide-content">
                                    <div class="row-fluid">
                                        <div class="span9">
                                            <div class="guide-step">5</div>
                                            <div>
                                                <b>Extend your Magnet Mobile App Server Runtime</b>
                                                <p>Check the existing controllers and learn how to add your own custom controllers.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="gs-android">
                        <h4>Android Developer</h4>
                        <p>The topics below will help the Android Developer get started.</p>
                        <div class="guide-container">
                            <div class="guide-row odd">
                                <img src="../images/getstarted/gtstrtd_act_android.png" />
                                <div class="guide-content">
                                    <div class="row-fluid">
                                        <div class="span9">
                                            <div class="guide-step">1</div>
                                            <div>
                                                <b>Start Android Project</b>
                                                <p>
                                                    <b>Option 1</b> Download the <a href="#">Jumpstart App</a><br />
                                                    <b>Option 2</b> Start your own app project and include the Magnet Mobile Server Library.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="guide-divider">
                                <img src="../images/getstarted/gtsrtd_act_dots.png" />
                            </div>
                            <div class="guide-row odd">
                                <img src="../images/getstarted/gtstrtd_act_eclps.png" />
                                <div class="guide-content">
                                    <div class="row-fluid">
                                        <div class="span9">
                                            <div class="guide-step">2</div>
                                            <div>
                                                <b>Include Mobile Project Library</b>
                                                <p>Include your Mobile Project Library into your app project using Command Line.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="guide-divider">
                                <img src="../images/getstarted/gtsrtd_act_dots.png" />
                            </div>
                            <div class="guide-row odd">
                                <img src="../images/getstarted/gtstrtd_act_hellow.png" />
                                <div class="guide-content">
                                    <div class="row-fluid">
                                        <div class="span9">
                                            <div class="guide-step">3</div>
                                            <div>
                                                <b>Build Your App</b>
                                                <p>Check the Jumpstart app and learn how to call an existing controller or add your own controllers.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loadingBar">
    <div id="loadingContent">
        Loading resources, please wait..
        <div class="progress progress-striped active">
            <div class="bar" style="width:50%;"></div>
        </div>
    </div>
</div>
<div id="download-container" class="hidden"></div>
<!-- views start -->
<script id="PWCoreView" type="text/template">
<div did="core" class="accordion" id="core-accordion">
<div did="encryption" class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#core-accordion" href="#core-encryption">
            Encryption Services
            <i class="icon icon-chevron-down"></i>
            <div class="preview-status">
                <% if(project.attributes['encryptionEnabled'] == true){ %>ON<% }else{ %>OFF<% } %>
            </div>
        </a>
    </div>
    <div id="core-encryption" class="accordion-body collapse" style="height:0">
        <div class="accordion-inner">
            <div class="clearfix">
                <div did="ON" class="<% if(project.attributes['encryptionEnabled'] !== true){ %>hidden<% } %>">
                    You currently have enabled Android encryption services for cached data.
                </div>
                <div did="OFF" class="<% if(project.attributes['encryptionEnabled'] == true){ %>hidden<% } %>">
                    You currently have not enabled Android encryption services for cached data.
                </div>
                <div did="encryptionEnabled" class="btn-group">
                    <button did="true" class="btn <% if(project.attributes['encryptionEnabled'] == true){ %>btn-primary<% } %>">ON</button>
                    <button did="false" class="btn <% if(project.attributes['encryptionEnabled'] !== true){ %>btn-primary<% } %>">OFF</button>
                </div>
            </div>
            <div class="clearfix">
                <div>
                    Every iOS device has built in encryption services<br /> used to encrypt all data on the device at all times.

                    <div class="centered-text">
                        Always On
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div>
                    Encryption of cached data on the server is always enabled.
                    <div class="centered-text">
                        Always On
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div did="locationdata" class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#core-accordion" href="#core-datacollection">
            Location Data Collection
            <i class="icon icon-chevron-down"></i>
            <div class="preview-status">
                <% if(project.attributes['useGeoLocation'] == true){ %>ON<% }else{ %>OFF<% } %>
            </div>
        </a>
    </div>
    <div id="core-datacollection" class="accordion-body collapse" style="height:0">
        <div class="accordion-inner">
            <div did="ON" class="<% if(project.attributes['useGeoLocation'] !== true){ %>hidden<% } %>">
                Location data will be collected.
            </div>
            <div did="OFF" class="<% if(project.attributes['useGeoLocation'] == true){ %>hidden<% } %>">
                You will NOT collect location data.
            </div>
            <div did="useGeoLocation" class="btn-group">
                <button did="true" class="btn <% if(project.attributes['useGeoLocation'] == true){ %>btn-primary<% } %>">ON</button>
                <button did="false" class="btn <% if(project.attributes['useGeoLocation'] !== true){ %>btn-primary<% } %>">OFF</button>
            </div>
        </div>
    </div>
</div>
<div did="dbconfig" class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#core-accordion" href="#core-dbconfig">
            Database Configuration
            <i class="icon icon-chevron-down"></i>
        </a>
    </div>
    <div id="core-dbconfig" class="accordion-body collapse" style="height:0">
        <div class="accordion-inner">
            <p><b style="color:#888;font-style:italic">Note: The fields below are optional. If you leave the fields blank, they will be populated with defaults settings automatically.</b></p>
            <strong>MySQL Configuration</strong>
            <div class="well">
                <div class="controls controls-row">
                    <div class="input-group span8">
                        <label>Host:</label>
                        <input class="span12" type="text" name="jdbcHost" placeholder="Host" value="<%- project.attributes['jdbcHost'] || 'localhost' %>">
                    </div>
                    <div class="input-group span4">
                        <label>Port:</label>
                        <input class="span12" type="text" name="jdbcPort" placeholder="Port" value="<%- project.attributes['jdbcPort'] || '3306' %>">
                    </div>
                </div>
                <a href="#" target="_blank">How to find out what host and port MySQL resides.</a>
            </div>
            <strong>System Database</strong>
            <div class="well">
                <p>Your app requires a MySQL database for system related persistence on your server. <br />
                    Configure the MySQL information below or use the defaults.
                </p>
                <div class="controls controls-row">
                    <div class="input-group span4">
                        <label>Username:</label>
                        <input class="span12" type="text" name="jdbcSystemUsername" placeholder="Username" value="<%- project.attributes['jdbcSystemUsername'] || 'sysDBUser' %>">
                    </div>
                    <div class="input-group span4">
                        <label>Password:</label>
                        <input class="span12" type="text" name="jdbcSystemPassword" placeholder="Password" value="<%- project.attributes['jdbcSystemPassword'] || 'sysDBPassword' %>">
                    </div>
                    <div class="input-group span4">
                        <label>Database Name:</label>
                        <input id="system-database-name" class="span12 disabled" type="text" disabled="disabled" placeholder="Database Name" value="sysDBName">
                    </div>
                </div>
            </div>
            <strong>App Database</strong>
            <div class="well">
                <div class="accordion-inner">
                    <div did="ON" class="<% if(project.attributes['jdbcAppEnabled'] !== true){ %>hidden<% } %>">
                        <p>
                            Your app will use a MySQL database for app related persistence on your server. <br />
                            Configure the MySQL database information below or use the defaults.
                        </p>
                        <div class="controls controls-row">
                            <div class="input-group span4">
                                <label>Username:</label>
                                <input class="span12" type="text" name="jdbcAppUsername" placeholder="Username" value="<%- project.attributes['jdbcAppUsername'] || 'appDBUser' %>">
                            </div>
                            <div class="input-group span4">
                                <label>Password:</label>
                                <input class="span12" type="text" name="jdbcAppPassword" placeholder="Password" value="<%- project.attributes['jdbcAppPassword'] || 'appDBPassword' %>">
                            </div>
                            <div class="input-group span4">
                                <label>Database Name:</label>
                                <input class="span12" type="text" name="jdbcAppDBName" placeholder="Database Name" value="<%- project.attributes['jdbcAppDBName'] || 'appDBName' %>">
                            </div>
                        </div>
                    </div>
                    <div did="OFF" class="<% if(project.attributes['jdbcAppEnabled'] == true){ %>hidden<% } %>">
                        Your app will not use MySQL for app related persistence.
                        <div class="well">
                            <b>Note:</b> You will not be able to use server entities or any sample APIs if the App Database is not enabled.
                        </div>
                    </div>
                    <div did="jdbcAppEnabled" class="btn-group">
                        <button did="true" class="btn <% if(project.attributes['jdbcAppEnabled'] == true){ %>btn-primary<% } %>">ON</button>
                        <button did="false" class="btn <% if(project.attributes['jdbcAppEnabled'] !== true){ %>btn-primary<% } %>">OFF</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div did="userauth" class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#core-accordion" href="#core-userauth">
            User Authentication
            <i class="icon icon-chevron-down"></i>
            <div class="preview-status">
                <% if(project.attributes['userAuth']){ %>
                <%- project.attributes['userAuth']
                .replace('defaultUser', 'Default User')
                .replace('DB', 'MySQL')
                .replace('AD', 'Active Directory')
                %><% }else{ %>
                Default User
                <% } %>
            </div>
        </a>
    </div>
    <div id="core-userauth" class="accordion-body collapse" style="height:0">
        <div class="accordion-inner">
            <table class="radio-collection">
                <!--
                <tr did="default">
                    <td class="first">
                        <input type="radio" did="default" name="userAuth" value="defaultUser" <% if(!project.attributes['userAuth'] || project.attributes['userAuth'] == 'defaultUser'){ %>checked="checked"<% } %> /> Default User
                    </td>
                    <td>
                        Please choose this option to enable default user and login to work in Magnet's sandbox database.
                    </td>
                </tr>
                -->
                <tr>
                    <td class="default">
                        <input type="radio" did="database" name="userAuth" value="MYSQL" <% if(!project.attributes['userAuth'] || project.attributes['userAuth'] == 'MYSQL'){ %>checked="checked"<% } %> /> MySQL
                    </td>
                    <td>
                        Your project will use your system MySQL database for user authentication.
                    </td>
                </tr>
                <tr>
                    <td class="first">
                        <input type="radio" did="ldap" name="userAuth" value="LDAP" <% if(project.attributes['userAuth'] == 'LDAP'){ %>checked="checked"<% } %> /> LDAP
                    </td>
                    <td>
                        Your project will use your own LDAP for user authentication.
                        <div did="ldap" class="well radio-toggle hidden">
                            <b>Note:</b> Your sandbox will require additional information to use this type of authentication.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="first">
                        <input type="radio" did="ad" name="userAuth" value="AD" <% if(project.attributes['userAuth'] == 'AD'){ %>checked="checked"<% } %> /> Active Directory
                    </td>
                    <td>
                        Your project will use your own Active Directory for user authentication.
                        <div did="ad" class="well radio-toggle hidden">
                            <b>Note:</b> Your sandbox will require additional information to use this type of authentication.
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div did="gcm" class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#core-accordion" href="#core-android">
            Google Android Notification Service
            <i class="icon icon-chevron-down"></i>
            <div class="preview-status">
                <% if(project.attributes['gcmEnabled'] == true){ %>Included<% }else{ %>Not Included<% } %>
            </div>
        </a>
    </div>
    <div id="core-android" class="accordion-body collapse" style="height:0">
        <div class="accordion-inner">
            <div id="core-GCM" did="gcmEnabled" class="btn-group">
                <button did="true" class="btn <% if(project.attributes['gcmEnabled'] == true){ %>btn-primary<% } %>">Include</button>
                <button did="false" class="btn <% if(project.attributes['gcmEnabled'] !== true){ %>btn-primary<% } %>">Don't Include</button>
            </div>
            <div did="ON" class="<% if(project.attributes['gcmEnabled'] !== true){ %>hidden<% } %>">
                Your project will include this notification service.
            </div>
            <div did="OFF" class="<% if(project.attributes['gcmEnabled'] == true){ %>hidden<% } %>">
                You will NOT include this notification service.
            </div>
            <div id="core-GCM-fields" class="optional-parameters <% if(project.attributes['gcmEnabled'] !== true){ %>disabled<% } %>">
                <div class="title">
                    Parameters
                </div>
                <div class="content">
                    <dl class="dl-horizontal">
                        <dt>GCM Information</dt>
                        <dd>
                            <div class="controls controls-row">
                                <input class="span5" type="text" name="gcmApiKey" value="<%- project.attributes['gcmApiKey'] %>" placeholder="Server API Key">
                                <input class="span5" type="text" name="gcmSenderId" value="<%- project.attributes['gcmSenderId'] %>" placeholder="Client Sender ID">
                            </div>
                        </dd>
                    </dl>
                    <p>
                        <a href="http://developer.android.com/google/gcm/gs.html#access-key" target="_blank">How to acquire Android GCM information</a>
                    </p>
                    <p>
                        <b>Note:</b> In the <a href="https://code.google.com/apis/console/" target="_blank">Google API Console</a>, the Sender ID is referred to as the "Project Number"
                    </p>
                </div>
                <% if(project.attributes['gcmEnabled'] !== true){ %>
                <div class="overlay"></div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<div did="apns" class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#core-accordion" href="#core-ios">
            Apple iOS Notification Service
            <i class="icon icon-chevron-down"></i>
            <div class="preview-status">
                <% if(project.attributes['apnsEnabled'] == true){ %>Included<% }else{ %>Not Included<% } %>
            </div>
        </a>
    </div>
    <div id="core-ios" class="accordion-body collapse" style="height:0">
        <div class="accordion-inner">
            <div id="core-APNS" did="apnsEnabled" class="btn-group">
                <button did="true" class="btn <% if(project.attributes['apnsEnabled'] == true){ %>btn-primary<% } %>">Include</button>
                <button did="false" class="btn <% if(project.attributes['apnsEnabled'] !== true){ %>btn-primary<% } %>">Don't Include</button>
            </div>
            <div did="ON" class="<% if(project.attributes['apnsEnabled'] !== true){ %>hidden<% } %>">
                Your project will include this notification service.
            </div>
            <div did="OFF" class="<% if(project.attributes['apnsEnabled'] == true){ %>hidden<% } %>">
                You will NOT include this notification service.
            </div>
            <div id="core-APNS-fields" class="optional-parameters <% if(project.attributes['apnsEnabled'] !== true){ %>disabled<% } %>">
                <div class="title">
                    Parameters
                </div>
                <div class="content">
                    <dl class="dl-horizontal">
                        <dt>Upload Certificate</dt>
                        <dd>
                            <div id="pw-apns-cert-file">
                                <% if(project.attributes['apnsCertName']){ %>
                                <ul id="pw-apns-list">
                                    <li>
                                        <strong>
                                            <%- project.attributes.apnsCertName %>
                                        </strong>
                                        <i class="icon-remove-sign"></i>
                                    </li>
                                </ul>
                                <% } %>
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>APNS Server</dt>
                        <dd>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div id="core-APNS-type" did="apnsHost" class="btn-group btn-group-only">
                                        <button did="gateway.sandbox.push.apple.com" class="btn <% if(project.attributes['apnsHost'] !== 'gateway.push.apple.com'){ %>btn-primary<% } %>">Sandbox</button>
                                        <button did="gateway.push.apple.com" class="btn <% if(project.attributes['apnsHost'] === 'gateway.push.apple.com'){ %>btn-primary<% } %>">Production</button>
                                    </div>
                                </div>
                                <input class="span5" type="text" placeholder="Certificate Password" value="<%- project.attributes['apnsPassword'] %>" name="apnsPassword"/>
                            </div>
                        </dd>
                    </dl>
                    <p>
                        <a href="http://developer.apple.com/library/ios/#documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/Chapters/ApplePushService.html" target="_blank">How to acquire iOS APNS access</a>
                    </p>
                </div>
                <% if(project.attributes['apnsEnabled'] !== true){ %>
                <div class="overlay"></div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<div did="email" class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#core-accordion" href="#core-email">
            Email Notification Service
            <i class="icon icon-chevron-down"></i>
            <div class="preview-status">
                <% if(project.attributes['emailEnabled'] == true){ %>Included<% }else{ %>Not Included<% } %>
            </div>
        </a>
    </div>
    <div id="core-email" class="accordion-body collapse" style="height:0">
        <div class="accordion-inner">
            <div id="core-emailservice" did="emailEnabled" class="btn-group">
                <button did="true" class="btn <% if(project.attributes['emailEnabled'] == true){ %>btn-primary<% } %>">Include</button>
                <button did="false" class="btn <% if(project.attributes['emailEnabled'] !== true){ %>btn-primary<% } %>">Don't Include</button>
            </div>
            <div did="ON" class="<% if(project.attributes['emailEnabled'] !== true){ %>hidden<% } %>">
                Your project will include this notification service.
            </div>
            <div did="OFF" class="<% if(project.attributes['emailEnabled'] == true){ %>hidden<% } %>">
                You will NOT include this notification service.
            </div>
            <div id="core-email-fields" class="optional-parameters <% if(project.attributes['emailEnabled'] !== true){ %>disabled<% } %>">
                <div class="title">
                    Parameters
                </div>
                <div class="content">
                    <dl class="dl-horizontal">
                        <dt>Server Information</dt>
                        <dd>
                            <div class="controls controls-row">
                                <input class="span4" type="text" name="smtpHostName" value="<%- project.attributes['smtpHostName'] %>" placeholder="Host">
                                <input class="span5" type="text" name="smtpPort" value="<%- project.attributes['smtpPort'] %>" placeholder="Port">
                            </div>
                            <div class="controls controls-row">
                                <input class="span4" type="text" name="smtpUsername" value="<%- project.attributes['smtpUsername'] %>" placeholder="User ID">
                                <input class="span5" type="text" name="smtpPassword" value="<%- project.attributes['smtpPassword'] %>" placeholder="Password">
                            </div>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Sender Information</dt>
                        <dd>
                            <div class="controls controls-row">
                                <input class="span4" type="text" name="smtpSenderName" value="<%- project.attributes['smtpSenderName'] %>" placeholder="Name">
                                <input class="span5" type="text" name="smtpSenderEmail" value="<%- project.attributes['smtpSenderEmail'] %>" placeholder="Email">
                            </div>
                        </dd>
                    </dl>
                </div>
                <% if(project.attributes['emailEnabled'] !== true){ %>
                <div class="overlay"></div>
                <% } %>
            </div>
        </div>
    </div>
</div>
</div>
</script>
<script id="PWSamplesView" type="text/template">
    <div did="samples" class="accordion" id="samples-accordion">
        <div did="samplecontroller" class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#samples-accordion" href="#samples-samplecontroller">
                    <img src="../images/wizard/cntrlr-helloworld.png" /> Hello World Controller
                    <i class="icon icon-chevron-down"></i>
                    <div class="preview-status">
                        <% if(project.attributes['helloWorldControllerEnabled'] == true){ %>Included<% }else{ %>Not Included<% } %>
                    </div>
                </a>
            </div>
            <div id="samples-samplecontroller" class="accordion-body collapse" style="height:0">
                <div class="accordion-inner">
                    <p class="accordion-caption">This module demonstrates how to interact with a controller over REST from a mobile client. It can be used as a starting template for writing your own controller.</p>
                    <div did="helloWorldControllerEnabled" class="btn-group">
                        <button did="true" class="btn <% if(project.attributes['helloWorldControllerEnabled'] == true){ %>btn-primary<% } %>">Include</button>
                        <button did="false" class="btn <% if(project.attributes['helloWorldControllerEnabled'] !== true){ %>btn-primary<% } %>">Don't Include</button>
                    </div>
                </div>
            </div>
        </div>
        <div did="samplecontrollerdb" class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#samples-accordion" href="#samples-samplecontrollerdb">
                    <img src="../images/wizard/cntrlr-helloworld.png" /> Hello World Controller with Persistence
                    <i class="icon icon-chevron-down"></i>
                    <div class="preview-status">
                        <% if(project.attributes['helloWorldControllerDBEnabled'] == true){ %>Included<% }else{ %>Not Included<% } %>
                    </div>
                </a>
            </div>
            <div id="samples-samplecontrollerdb" class="accordion-body collapse" style="height:0">
                <div class="accordion-inner">
                    <p class="accordion-caption">This module demonstrates how to interact with a controller over REST from a mobile client. It can be used as a starting template for writing your own controller.</p>
                    <div did="helloWorldControllerDBEnabled" class="btn-group">
                        <button did="true" class="btn <% if(project.attributes['helloWorldControllerDBEnabled'] == true){ %>btn-primary<% } %>">Include</button>
                        <button did="false" class="btn <% if(project.attributes['helloWorldControllerDBEnabled'] !== true){ %>btn-primary<% } %>">Don't Include</button>
                    </div>
                </div>
            </div>
        </div>
        <div did="sampleentity" class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#samples-accordion" href="#samples-sampleentity">
                    <img src="../images/wizard/cntrlr-entity.png" /> Sample Entity Controller
                    <i class="icon icon-chevron-down"></i>
                    <div class="preview-status">
                        <% if(project.attributes['sampleEntityEnabled'] == true){ %>Included<% }else{ %>Not Included<% } %>
                    </div>
                </a>
            </div>
            <div id="samples-sampleentity" class="accordion-body collapse" style="height:0">
                <div class="accordion-inner">
                    <p class="accordion-caption">This module demonstrates how to interact with an entity over REST from a mobile client. It can be used as a starting template for writing your own entity.</p>
                    <div did="sampleEntityEnabled" class="btn-group">
                        <button did="true" class="btn <% if(project.attributes['sampleEntityEnabled'] == true){ %>btn-primary<% } %>">Include</button>
                        <button did="false" class="btn <% if(project.attributes['sampleEntityEnabled'] !== true){ %>btn-primary<% } %>">Don't Include</button>
                    </div>
                </div>
            </div>
        </div>
        <div did="salesforce" class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#thirdparty-accordion" href="#thirdparty-salesforce">
                    <img src="../images/wizard/cntrlr-salesforce.png" /> Salesforce
                    <i class="icon icon-chevron-down"></i>
                    <div class="preview-status">
                        <% if(project.attributes['salesforceEnabled'] == true){ %>Included<% }else{ %>Not Included<% } %>
                    </div>
                </a>
            </div>
            <div id="thirdparty-salesforce" class="accordion-body collapse" style="height:0">
                <div class="accordion-inner">
                    <div did="salesforceEnabled" class="btn-group">
                        <button did="true" class="btn <% if(project.attributes['salesforceEnabled'] == true){ %>btn-primary<% } %>">Include</button>
                        <button did="false" class="btn <% if(project.attributes['salesforceEnabled'] !== true){ %>btn-primary<% } %>">Don't Include</button>
                    </div>
                    <div did="ON" class="<% if(project.attributes['salesforceEnabled'] !== true){ %>hidden<% } %>">
                        Your project is including this 3rd-party service.
                    </div>
                    <div did="OFF" class="<% if(project.attributes['salesforceEnabled'] == true){ %>hidden<% } %>">
                        Your project currently does NOT include this 3rd-party service.
                    </div>
                    <div id="thirdparty-salesforce-fields" class="optional-parameters <% if(project.attributes['salesforceEnabled'] !== true){ %>disabled<% } %>">
                        <div class="title">
                            Parameters
                        </div>
                        <div class="content">
                            <dl class="dl-horizontal">
                                <dt>Remote Access Keys</dt>
                                <dd>
                                    <div class="controls controls-row">
                                        <input class="span5" type="text" name="sfdcClientId" value="<%- project.attributes['sfdcClientId'] %>" placeholder="Consumer Key">
                                        <input class="span5" type="text" name="sfdcClientSecret" value="<%- project.attributes['sfdcClientSecret'] %>" placeholder="Consumer Secret">
                                    </div>
                                    <div class="controls controls-row">
                                        <input class="span10" type="text" name="sfdcClientEndpointAddress" value="<%- project.attributes['sfdcClientEndpointAddress'] %>" placeholder="Callback URL">
                                    </div>
                                </dd>
                            </dl>
                            <p>
                                <b>Note:</b> If you do not have the information above, please visit:
                            </p>
                            <p>
                                <a href="http://wiki.developerforce.com/page/Connected_Apps" target="_blank">How to register your connected app and obtain remote access keys</a>
                            </p>
                        </div>
                        <% if(project.attributes['salesforceEnabled'] !== true){ %>
                        <div class="overlay"></div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div did="linkedin" class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#thirdparty-accordion" href="#thirdparty-linkedin">
                    <img src="../images/wizard/cntrlr-linkedin.png" /> LinkedIn
                    <i class="icon icon-chevron-down"></i>
                    <div class="preview-status">
                        <% if(project.attributes['linkedinEnabled'] == true){ %>Included<% }else{ %>Not Included<% } %>
                    </div>
                </a>
            </div>
            <div id="thirdparty-linkedin" class="accordion-body collapse" style="height:0">
                <div class="accordion-inner">
                    <div did="linkedinEnabled" class="btn-group">
                        <button did="true" class="btn <% if(project.attributes['linkedinEnabled'] == true){ %>btn-primary<% } %>">Include</button>
                        <button did="false" class="btn <% if(project.attributes['linkedinEnabled'] !== true){ %>btn-primary<% } %>">Don't Include</button>
                    </div>
                    <div did="ON" class="<% if(project.attributes['linkedinEnabled'] !== true){ %>hidden<% } %>">
                        Your project is including this 3rd-party service.
                    </div>
                    <div did="OFF" class="<% if(project.attributes['linkedinEnabled'] == true){ %>hidden<% } %>">
                        Your project currently does NOT include this 3rd-party service.
                    </div>
                    <div id="thirdparty-linkedin-fields" class="optional-parameters <% if(project.attributes['linkedinEnabled'] !== true){ %>disabled<% } %>">
                        <div class="title">
                            Parameters
                        </div>
                        <div class="content">
                            <dl class="dl-horizontal">
                                <dt>OAuth Keys</dt>
                                <dd>
                                    <div class="controls controls-row">
                                        <input class="span5" type="text" name="liClientId" value="<%- project.attributes['liClientId'] %>" placeholder="API Key">
                                        <input class="span5" type="text" name="liClientSecret" value="<%- project.attributes['liClientSecret'] %>" placeholder="Secret Key">
                                    </div>
                                </dd>
                            </dl>
                            <p>
                                <b>Note:</b> If you do not have the information above, please visit:
                            </p>
                            <p>
                                <a href=" http://developer.linkedin.com/documents/quick-start-guide" target="_blank">How to register your app and obtain OAuth keys</a>
                            </p>
                        </div>
                        <% if(project.attributes['linkedinEnabled'] !== true){ %>
                        <div class="overlay"></div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div did="facebook" class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#thirdparty-accordion" href="#thirdparty-facebook">
                    <img src="../images/wizard/cntrlr-facebook.png" /> Facebook
                    <i class="icon icon-chevron-down"></i>
                    <div class="preview-status">
                        <% if(project.attributes['facebookEnabled'] == true){ %>Included<% }else{ %>Not Included<% } %>
                    </div>
                </a>
            </div>
            <div id="thirdparty-facebook" class="accordion-body collapse" style="height:0">
                <div class="accordion-inner">
                    <div did="facebookEnabled" class="btn-group">
                        <button did="true" class="btn <% if(project.attributes['facebookEnabled'] == true){ %>btn-primary<% } %>">Include</button>
                        <button did="false" class="btn <% if(project.attributes['facebookEnabled'] !== true){ %>btn-primary<% } %>">Don't Include</button>
                    </div>
                    <div did="ON" class="<% if(project.attributes['facebookEnabled'] !== true){ %>hidden<% } %>">
                        Your project is including this third party service.
                    </div>
                    <div did="OFF" class="<% if(project.attributes['facebookEnabled'] == true){ %>hidden<% } %>">
                        Your project currently does NOT include this third party service.
                    </div>
                    <div id="thirdparty-facebook-fields" class="optional-parameters <% if(project.attributes['facebookEnabled'] !== true){ %>disabled<% } %>">
                        <div class="title">
                            Parameters
                        </div>
                        <div class="content">
                            <dl class="dl-horizontal">
                                <dt>Credentials</dt>
                                <dd>
                                    <div class="controls controls-row">
                                        <input class="span5" type="text" name="fbClientId" value="<%- project.attributes['fbClientId'] %>" placeholder="App ID/API Key">
                                        <input class="span5" type="text" name="fbClientSecret" value="<%- project.attributes['fbClientSecret'] %>" placeholder="App Secret">
                                    </div>
                                </dd>
                            </dl>
                            <p>
                                <b>Note:</b> If you do not have the information above, please visit:
                            </p>
                            <p>
                                <a href="https://developers.facebook.com/apps" target="_blank">Facebook Developers website to register your app and obtain authentication keys</a>
                            </p>
                        </div>
                        <% if(project.attributes['facebookEnabled'] !== true){ %>
                        <div class="overlay"></div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>
<script id="PWEnterpriseView" type="text/template">

</script>
<script id="PWStartDevelopingView" type="text/template">
    <div class="start-developing-section">
        <h5>Download your Magnet App Project Profile</h5>
        <p>You need this to generate your cloud APIs, iOS client files, and Android client files</p>
        <a id="download-config-file" href="#" type="button" class="btn btn-primary">Download Magnet App Project Profile</a>
        <div class="divider"><img src="../images/wizard/arrow_divider.png"></div>
    </div>
    <!--
    <div class="start-developing-section">
        <h5>Import the project configuration file into the Magnet Developer Tool</h5>
        <p>This is the tool that will allow you to add different services to your app and deploy it to the cloud.</p>
        <a href="/resources/files/mab.zip"><img src="../images/wizard/mdt.png" /></a>
        <div class="divider"><img src="../images/wizard/arrow_divider.png"></div>
    </div>
    -->
</script>
<script id="PWSummaryView" type="text/template">
    <p>
        This is a summary of all the configurations you've set. You can revisit any items<br />
        to add or change configuration by clicking on the corresponding item.
    </p>
    <div id="summary-components">
        <% if(project.attributes['salesforceEnabled'] == true){ %>
        <div class="row-fluid">
            <div action="thirdparty" view="salesforce" class="thirdparty summary-component">Salesforce</div>
            <div class="summary-text">
                <%= utils.hasAllOptionalProperties(project.attributes, 'sfdcClient', 3) ?
                'Parameters completed.' :
                'Parameters NOT completed. <a href="#" data-toggle="tooltip" title="Not all the Parameters were filled out. This means you can set these properties in a local server project but cannot use this service in the sandbox."><i class="icon-question-sign"></i></a>'
                %>
            </div>
        </div>
        <% } %>
        <% if(project.attributes['linkedinEnabled'] == true){ %>
        <div class="row-fluid">
            <div action="thirdparty" view="linkedin" class="thirdparty summary-component">LinkedIn</div>
            <div class="summary-text">
                <%= utils.hasAllOptionalProperties(project.attributes, 'liClient', 2) ?
                'Parameters completed.' :
                'Parameters NOT completed. <a href="#" data-toggle="tooltip" title="Not all the Parameters were filled out. This means you can set these properties in a local server project but cannot use this service in the sandbox."><i class="icon-question-sign"></i></a>'
                %>
            </div>
        </div>
        <% } %>
        <% if(project.attributes['facebookEnabled'] == true){ %>
        <div class="row-fluid">
            <div action="thirdparty" view="facebook" class="thirdparty summary-component">Facebook</div>
            <div class="summary-text">
                <%= utils.hasAllOptionalProperties(project.attributes, 'fbClient', 2) ?
                'Parameters completed.' :
                'Parameters NOT completed. <a href="#" data-toggle="tooltip" title="Not all the Parameters were filled out. This means you can set these properties in a local server project but cannot use this service in the sandbox."><i class="icon-question-sign"></i></a>'
                %>
            </div>
        </div>
        <% } %>
        <% if(project.attributes.webservices){ %>
        <div class="row-fluid">
            <div action="enterprise" view="webservices" class="enterprise summary-component">Web Services</div>
            <div class="summary-text"><%- project.attributes.webservices.length > 0 ? project.attributes.webservices.length + (project.attributes.webservices.length == 1 ? ' service' : ' services') + ' added' : 'NONE' %></div>
        </div>
        <% } %>
        <% if(project.attributes['helloWorldControllerEnabled'] == true){ %>
        <div class="row-fluid">
            <div action="samples" view="samplecontroller" class="samples summary-component">Hello World Controller</div>
        </div>
        <% } %>
        <% if(project.attributes['sampleEntityEnabled'] == true){ %>
        <div class="row-fluid">
            <div action="samples" view="sampleentity" class="samples summary-component">Sample Entity Controller</div>
        </div>
        <% } %>
        <% if(project.attributes['encryptionEnabled'] == true){ %>
        <div class="row-fluid">
            <div action="core" view="encryption" class="core summary-component">Encryption Services</div>
            <div class="summary-text">This service is turned ON.</div>
        </div>
        <% } %>
        <% if(project.attributes['useGeoLocation'] == true){ %>
        <div class="row-fluid">
            <div action="core" view="locationdata" class="core summary-component">Location Data Collection</div>
            <div class="summary-text">This service is turned ON.</div>
        </div>
        <% } %>
        <div class="row-fluid">
            <div action="core" view="userauth" class="core summary-component">User Authentication</div>
            <div class="summary-text"><%- project.attributes['userAuth']
                .replace('defaultUser', 'Default User')
                .replace('DB', 'MySQL')
                .replace('AD', 'Active Directory')
                %></div>
        </div>
        <% if(project.attributes['gcmEnabled'] == true){ %>
        <div class="row-fluid">
            <div action="core" view="gcm" class="core summary-component">GCM</div>
            <div class="summary-text">
                <%= utils.hasAllOptionalProperties(project.attributes, 'gcm', 3) ?
                'Parameters completed.' :
                'Parameters NOT completed. <a href="#" data-toggle="tooltip" title="Not all the Parameters were filled out. This means you can set these properties in a local server project but cannot use this service in the sandbox."><i class="icon-question-sign"></i></a>'
                %>
            </div>
        </div>
        <% } %>
        <% if(project.attributes['apnsEnabled'] == true){ %>
        <div class="row-fluid">
            <div action="core" view="apns" class="core summary-component">APNS</div>
            <div class="summary-text">
                <%= utils.hasAllOptionalProperties(project.attributes, 'apns', 3) ?
                'Parameters completed.' :
                'Parameters NOT completed. <a href="#" data-toggle="tooltip" title="Not all the Parameters were filled out. This means you can set these properties in a local server project but cannot use this service in the sandbox."><i class="icon-question-sign"></i></a>'
                %>
            </div>
        </div>
        <% } %>
        <% if(project.attributes['emailEnabled'] == true){ %>
        <div class="row-fluid">
            <div action="core" view="email" class="core summary-component">Email</div>
            <div class="summary-text">
                <%= utils.hasAllOptionalProperties(project.attributes, 'smtp', 6) ?
                'Parameters completed.' :
                'Parameters NOT completed. <a href="#" data-toggle="tooltip" title="Not all the Parameters were filled out. This means you can set these properties in a local server project but cannot use this service in the sandbox."><i class="icon-question-sign"></i></a>'
                %>
            </div>
        </div>
        <% } %>
    </div>
</script>
<script id="PWWSDLListView" type="text/template">
    <% if(col && col.length > 0){ %>
    <% _.each(col, function(models, id){ %>
    <li did="<%- models.attributes.magnetId %>">
        <strong>
            <%- models.attributes.url %>
        </strong>
        <i class="icon-remove-sign"></i>
    </li>
    <% }); %>
    <% } %>
</script>

<script id="tableTmplView" type="text/template">
    <% if(!disableControls){ %>
    <% if(!hideSearch){ %>
    <div class="input-append">
        <div class="input-container">
            <input type="text" maxlength="200" placeholder="Search for...">
        </div>
        <div class="btn-group">
            <button class="btn btn-clear" type="button" style="display:none">Clear <i class="icon-remove"></i></button>
            <button class="btn dropdown-toggle">
                <span class="searchby-text">Search By<% if(searchBy){ %>: <%- headers[searchBy] %><% } %></span>
                <span class="caret"></span>
            </button>
            <button class="btn btn-primary" type="button">Search</button>
            <ul class="dropdown-menu">
                <% _.each(headers, function(header, key){ %>
                <li<% if(key == searchBy){ %> class="active"<% } %>><a href="#" p="<%- key %>"><%- header %></a></li>
                <% }); %>
            </ul>
        </div>
    </div>
    <% } %>
    <p>Click the column heading to sort in ascending or descending order. Click X to remove the Sort order. </p>
    <ul class="breadcrumb">
        Sort Order: <span></span>
    </ul>
    <% } %>
    <div class="table-container fullpos">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <% _.each(headers, function(header, key){ %>
                <th p="<%- key %>"><%- header %><span class=""></span></th>
                <% }); %>
                <% if(!disableInfo){ %>
                <th class="listview-details">Details</th>
                <% } %>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="pagination"></div>
</script>
<script id="tableItemView" type="text/template">
    <% _.each(collection, function(model, key){ %>
    <tr data-id="<%- model.attributes.magnetId %>">
        <% _.each(headers, function(header, key){ %>
        <td><% if(model.attributes[key]){ %><% if(model.attributes[key].length > 0){ %><%- model.attributes[key].length > 150 ? model.attributes[key].slice(0, 150)+' ...' : model.attributes[key] %><% } %><% } %></td>
        <% }); %>
        <% if(!disableInfo){ %>
        <td><button class="btn">Details</button></td>
        <% } %>
    </tr>
    <% }); %>
</script>
<script id="paginationDetailView" type="text/template">
    <% if(paging.totalSize > 10){ %>
    <ul>
        <li <% if(paging.startIndex == 0){ %>class="disabled"<% } %>><a href="#" page="<%-paging.previous%>">Prev</a></li>
        <% for(i=0;i<paging.totalSize;i+=10){ %>
        <li <% if(paging.startIndex == i){ %>class="disabled"<% } %> ><a href="#" page="<%-i/10%>"><%-(i/10)+1%></a></li>
        <% } %>
        <li <% if(!paging.next || paging.startIndex == 90 || (paging.startIndex+paging.pageSize) == paging.totalSize){ %>class="disabled"<% } %>><a href="#" page="<%-paging.next%>">Next</a></li>
    </ul>
    <% if(paging.startIndex == 90 && paging.totalSize == 100){ %>
    <br >The maximum number of results returned has been reached. Please refine your result with search or sort.
    <% } %>
    <% } %>
</script>

<!-- dialogs start -->
<div id="error-alert" class="modal-form-errors modal hide fade">
    <div class="modal-header">
        <button data-dismiss="modal" class="close">x</button>
        <h3></h3>
    </div>
    <div class="modal-body">
        <p class="subheading">
        </p>
        <ul>
        </ul>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary">OK</button>
    </div>
</div>
<div id="general-alert" class="modal-alert modal hide fade">
    <div class="modal-header">
        <button data-dismiss="modal" class="close">x</button>
        <h3></h3>
    </div>
    <div class="modal-body">
        <p>
        </p>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" id="ok" class="btn btn-primary">OK</button>
    </div>
</div>
<div id="confirm-alert" class="modal-confirm modal hide fade">
    <div class="modal-header">
        <button data-dismiss="modal" class="close">x</button>
        <h3></h3>
    </div>
    <div class="modal-body">
        <p>
        </p>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="cancel btn">Cancel</button>
        <button class="submit btn-primary btn">Continue</button>
    </div>
</div>
<div id="invite-other-modal" class="modal-alert modal hide fade">
    <div class="modal-header">
        <button data-dismiss="modal" class="close">x</button>
        <h3>Invite Others</h3>
        <p class="subheading">
            Enter the email address of the individual you would like to invite to the Developer Factory.
        </p>
    </div>
    <div class="modal-body">
        <div class="modal_errors" style="display:none">
            <div class="alert alert-error">
                <strong></strong> <span></span>
            </div>
        </div>
        <div class="modal_success" style="display:none">
            <div class="alert alert-success">
                <span>Your invitation has been sent successfully.</span>
            </div>
        </div>
        <div class="row-fluid">
            <input class="span12" type="text" name="email" placeholder="Enter Email Address"><br />
            <b>Message to include</b><br />
            <textarea class="span12" name="inviteMessage" placeholder="Message to include">I found this great new tool to quickly create mobile apps for me.</textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn-primary btn">Send Invitation</button>
        <button data-dismiss="modal" class="cancel btn">Close</button>
    </div>
    <div class="loading modal-footer" style="display:none">
        Loading.. Please Wait.. <img src="../images/ajax-loader-sm.gif" />
    </div>
</div>
<!-- dialogs end -->

</body>
</html>